*{
  margin: 0;
  padding: 0; 
  /* overflow: hidden; */
}
.content{
  width: 100%;
  display: block;
}
img{
  width: 100%;
  float: left;

}
.slide{
  width: 1000px;
  height: 500px;
  overflow: hidden;
}
ul{
  width:  3000px;
  height: 500px;
  clear: both; 
  position: relative;
  margin: 0;
  border: 2px solid red;
  list-style: none;
}
.item-slide{
  width: 1000px;
   float: left;
   margin: 0px;
   padding: 0px;
   position: relative;
  
}
.content-buttons{
  position: absolute;
}